.card {
    width: 401px;
    height: 280px;
    background: #FFFFFF;
    box-shadow: -4px -4px 20px #FFFFFF, 4px 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 7px;
    margin: 40px 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}
.card__addAppIcon {
    width: 72px;
    height: 72px;
}
.card__title{
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #D4D4D4;
}