.button {
  width: 380px;
  height: 60px;
  background: linear-gradient(272.12deg, #55e3cd 0%, #319fb9 99.36%);
  border-radius: 7px;
  color: white;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  margin-top: 40px;
  cursor: pointer;
}
.button_mini {
  width: 180px;
  height: 60px;
  border-radius: 7px;
  background: linear-gradient(270deg, rgba(85, 227, 205, 0.05) 0%, rgba(49, 159, 185, 0.05) 100%);
  border: 1px solid rgba(49, 159, 185, 1);
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #404040;
  opacity: 0.5;
  margin: 5px;
  cursor: pointer;
}

.button_mini:hover {
  background: linear-gradient(272.12deg, #55e3cd 0%, #319fb9 99.36%);
  color: #FFFFFF;
}
.button_enter {
  width: 312px;
  height: 60px;
  background: linear-gradient(272.12deg, #55e3cd 0%, #319fb9 99.36%);
  border-radius: 7px;
  color: white;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  margin-top: 40px;
  cursor: pointer;
}