.popupInput {
  width: 380px;
  height: 52px;
  background: linear-gradient(
    270deg,
    rgba(85, 227, 205, 0.05) 0%,
    rgba(49, 159, 185, 0.05) 100%
  );
  border-radius: 7px;
  border: 1px solid rgba(49, 159, 185, 1);
  margin-bottom: 20px;
  margin-top: 5px;
}
.popupInput__label {
  font-size: 16px;
  line-height: 19px;
  color: #404040;
}
